# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Sublime Text
*.sublime*

# Composer
composer.lock
vendor/*
tests/vendor/*
**/vendor/*

# Bower
bower_components/

# Test related files
codecept.phar
selenium.log
PCB/*
tests/_output
tests/RoboFile.ini
selenium-server-standalone-3.6.0.jar
tests/_support/_generated/*

# Never ignore
!.gitignore
!index.html
!index.php

# Chrome driver
chromedriver/*
start_chrome.sh

# Gecko driver
geckodriver/*
start_firefox.sh